<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.dlut.mapper.TeacherDao">
    <select id="findById" parameterType="int" resultType="com.ruoyi.dlut.pojo.Teacher">
        select * from teacher where uid = #{uid}
    </select>
    <insert id="add" parameterType="com.ruoyi.dlut.pojo.Teacher">
        insert into teacher(uid, name, telephone)
        values
            (#{uid},#{name},#{telephone})
    </insert>

    <!--根据条件查询-->
    <select id="findByCondition" parameterType="string" resultType="com.ruoyi.dlut.pojo.Teacher">
        select * from teacher
        <if test="value != null and value.length > 0">
            where name like #{value}
        </if>
    </select>

    <select id="selectCountByTeacherUid" parameterType="int" resultType="long">
        select count(1) from teacher_awards where teacherUid = #{teacherUid}
    </select>

    <delete id="deleteById" parameterType="int">
        delete from teacher where uid = #{id}
    </delete>

    <update id="edit" parameterType="com.ruoyi.dlut.pojo.Teacher">
        update teacher
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="telephone != null">
                telephone = #{telephone},
            </if>
            <if test="creditSum != null">
                creditSum = #{creditSum},
            </if>
            <if test="position != null">
                position = #{position},
            </if>
        </set>
        where uid = #{uid}
    </update>

    <select id="findAll" resultType="com.ruoyi.dlut.pojo.Teacher">
        select t.* from teacher t,user_role ur
        where ur.user_id = t.uid and ur.role_id = 2
    </select>

    <update id="addCredit" >
        update teacher set creditSum = creditSum + #{credit}
        where uid = #{uid}
    </update>
    <update id="deleteCredit" >
        update teacher set creditSum = creditSum - #{credit}
        where uid = #{uid}
    </update>
    <!--<select id="findCheckItemIdsByCheckGroupId" parameterType="int" resultType="int">
        select awardsId from teacher_awards where teacherUid = #{checkgroup_id}
    </select>
    &lt;!&ndash;根据检查组id查询关联的检查项&ndash;&gt;
    <select id="findCheckItemsByCheckGroupId" parameterType="int" resultType="com.ruoyi.pojo.Teacher">
        select * from awards where id in (select awardsId from teacher_awards where teacherUid = #{teacherUid})
    </select>-->

    <select id="findByName" resultType="int" >
        select uid from teacher where name = #{name}
    </select>

    <select id="findRank" parameterType="double" resultType="int">
        select count(*)
        from teacher
        where creditSum > #{Credit}
    </select>
    
    <select id="getMaxCredit" resultType="double">
        select max(t.creditSum)
        from teacher t,user_role r
        where r.role_id = 2 and t.uid = r.user_id
    </select>
    <select id="getMinCredit" resultType="double">
        select min(t.creditSum)
        from teacher t,user_role r
        where r.role_id = 2 and t.uid = r.user_id
    </select>
    <select id="getAVGCredit" resultType="double">
        select avg(t.creditSum)
        from teacher t,user_role r
        where r.role_id = 2 and t.uid = r.user_id
    </select>
</mapper>