<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ruoyi.dlut.mapper.TextDao">
    <select id="getText" resultType="string">
        select info from infotext where sort=#{sort} and kind = #{kind}
    </select>

</mapper>